//
//  Secrets.xcconfig
//  LearningKanji
//
//  Created by koohyunmo on 8/3/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

GEMINI_API_KEY = AIzaSyCYllNFebMtk91XrJ7N-0i0L1VtG5cO7fQ
